#title-box{
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

#title-box i{
    font-size: 80px;
}

#title{
    font-family: sans-serif;
    text-align: center;
    font-size: 80px;
}

#container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

#btn-row{
    display: flex;
}

#app-btn{
    display: flex;
    gap: 8px;
}

#app-btn button{
    border: 1px solid #10CCFA;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
}

#app-btn button:hover{
    background-color: #B14D01;
    color: white;
    cursor: pointer;
}